:root {
  --white: #fdfcff;
  --cream: #fcf4f6fa;
  --mutedcream: #e8d6e0;
  --creampink: #f3d7e8;
  --brightcyan: #6bc4ca;
  --darkbluegreen: #13353b;
  --mutedbluegreen: #045a58;
  --lightmutedbluegreen: #89b8bb;
  --bluegreen: #2d6e6d;
  --mutedarkpurple: #4f3663;
  --accentpink: #b5548d;
  --accentbrickred: rgb(214, 49, 49);
  --accentgreen: rgb(45, 114, 23);
  --lightgrey: #b3b3b3;

  --black: #1d1d1f;
  --darkgrey: #2a2e31;
  --grey: #424e4ecc;

  --lightcornblue: rgb(146, 176, 231);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #e0e1e2;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #222;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 1.7rem;
  }
}



.bi {
  color: #222;
  font-size: 1.4rem;

}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  margin: 0.8rem 2rem 0.8rem 1.5rem;
  width: 92%;
}

textarea {
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  margin: 0.8rem 2rem 0.8rem 1.5rem;
  width: 92%;
  border: 1.6px solid black;
}

.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 1.7rem;
  box-sizing: border-box;
}

article {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(0, 0, 0); */
  border-radius: 1rem;
  width: 300px;
  min-height: 420px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.upd-link {
  text-decoration: none;
}

.meal-info {
  margin: 0.8rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  gap: 0.3rem;
  flex-grow: 1;
  min-height: 180px;
}

h5 {
  font-size: 1.3rem;
  overflow: hidden;
}

.meal-subtitle {
  font-weight: 600;
  margin-right: 0.4rem;
}

.meal-tags {
  background-color: var(--lightcornblue);
  margin: 0.2rem;
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
  color: white;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
}

figure img {
  width: 300px;
  height: 260px;
  border-radius: 0.8rem 0.8rem 0 0;
  object-fit: cover;
}

.buttons-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}

.card-button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 2rem;
  background-color: transparent;
  color: var(--darkbluegreen);
  border: 2px solid;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.upd,
.del {
  width: 130px;

  i {
    transform: translateX(0px);
    transition: transform 0.18s ease-in-out;
  }

}

.edit:hover {
  justify-content: start;
  color: var(--white);

  i {
    transition: transform 0.3s ease-in-out;
    transform: translateX(40px);
  }

  p {
    display: none;
  }
}

.del:hover {
  border: 2px solid var(--accentbrickred);
  background-color: var(--accentbrickred);

  i {
    color: white;
  }
}

.upd:hover {
  border: 2px solid var(--accentgreen);
  background-color: var(--accentgreen);

  i {
    color: white;
  }

}

.desc {
  padding: 0.8rem 1rem;
  width: 100%;
}

.add {
  padding: 0.8rem 1rem;
  width: 50%;
  font-size: 1rem
}

.desc:hover,
.add:hover {
  border: 2px solid cornflowerblue;
  background-color: cornflowerblue;
  color: white;
}

.meal-desc {
  text-wrap: inherit;
}

.filters {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;

}

.date-input {
  width: 50%;
}

.star {
  color: #ff9800;
  padding-right: 0.5rem;
}

.stars {
  color: #ff9800;
  font-size: 1.2rem;
  padding-right: 0.25rem;
}

.stars {
  color: #ff9800;
  font-size: 1.2rem;
  padding-right: 0.25rem;
}

.stars:hover{
  cursor: pointer;
}

/* button:hover {
  background-color: #0056b3;
} */

.description.hidden {
  display: none;
}

.description {
  margin-top: 0.75rem;
  font-style: italic;
}

.search-box {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #222;
  color: #fff;
  margin-top: 2rem;
}


.meal-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.summary-grid .card {
  text-align: center;
  background-color: #f5f5f5;
  padding: 1.25rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #444;
  border-left: 6px solid #00bcd4;
  border-radius: 10px;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid #ccc;
  margin-bottom: 40px;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #fff;
}

.summary-table th,
.summary-table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: center;
}

.summary-table th {

  background-color: cornflowerblue;
  letter-spacing: 0.03rem;
  color: white;
}